/* Style for projects */

.projects {
  padding: 32px 40px;
  grid-column: 1 / 3;
}

.project__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-top: 16px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  width: 100%;
  border-radius: 6px;
}